@font-face {
    font-family: Poppins-ExtraBold;
    src: url('../font/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/Poppins-SemiBold.ttf');
}

body {
    background-color: #F9F8FD;
    font-family: 'Poppins-Regular';
}

a {
    transition: background-color 0.3s ease;
}

#about,
#work {
    transition: opacity 1s ease, transform 1s ease;
}