@import "tailwindcss";

@theme {
  --color-primary: #1798E2;
  --color-secondary: #CBECFF;
  --color-neutral: #E9E9E9;
  --font-extra-bold: 'Poppins-ExtraBold';
  --font-semi-bold: 'Poppins-SemiBold';
  --breakpoint-xs: 20rem;
  --text-tiny: 0.625rem
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assets/font/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/font/Poppins-SemiBold.ttf');
}

body {
  background-color: #F9F8FD;
  font-family: 'Poppins-Regular';
}

a {
  transition: background-color 0.3s ease;
}

#about,
#work {
  transition: opacity 1s ease, transform 1s ease;
}
